body {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;

}
.login {
    font-size: 24px;
    border: 1px solid white;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 50%;
    text-align: center;
    padding: 50px;
    background-image: url(C:\Users\robin\OneDrive\Escritorio\rick-and-morty\src\components\Form.component\cc4fbbc37dd94a33fbee0d54a39dfd86.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    border-radius: 10%;
    color: white;
}

.options {
    background-color: #339989;
    padding: 10px;
    border-radius: 10%;
    opacity: 80%;
    font-family: cursive, sans-serif
}


