body {
box-sizing: border-box;
margin: 0;
padding: 0;
background-image: url(C:\Users\robin\OneDrive\Escritorio\rick-and-morty\src\components\Cards.component\el-viejo-y-el-vater.jpeg);
background-repeat: no-repeat;
background-size: 100% 100%;
background-attachment: fixed;


}

.Cards {
    padding: 2px;
    border: 10px hidden red;
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.barra1 {
    border-radius: 6px;
    transition: .3s;
    padding-left: 24px;
    padding-right: 24px;
    color: white;
    padding: 10px; 
    background-color: rgb(14, 20, 194);
    border: hidden;
}


.barra1:hover {
    background-image: linear-gradient(
        150deg,
        #9500ff,
        #09f,
        #00DDFF
    );

}

.boton {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    margin-left: 40%;
    margin-right: 40%;

   
}